body {
	font-family:sans-serif;
	background:#EEE;
	color:#444;
	width:90%;
	margin:auto;
	font-size:14px;
}

fieldset {
	margin-bottom:12px;
}

.threadmain {
	background:#FFF;
	overflow:hidden;
	border-bottom:1px solid #BBB;
}

.op {
	background:#FFF;
	padding:10px;
}

.threadreply .op {
	padding:10px;
	background:#FFF;
	border-bottom:1px solid #BBB;
	overflow:hidden;
}

.reply {
	background:#E5E5E5;
	padding:10px;
	border-bottom:1px solid #FFF;
	overflow:hidden;
}

.selected {
	background:#D4D4D4;
	padding:10px;
	border-bottom:1px solid #BBB;
	overflow:hidden;
}

.image {
	float:left;
	margin-bottom:5px;
}

.message {
	margin-left:15px;
	display:inline-block;
	word-break:break-all;
}

.notif {
	margin-top:5px;
	border-radius:4px;
	background:#FEE;
	padding:4px;
	border:1px solid #DDD;
}

table {
    border-collapse:collapse;
}

table td, table th {
	padding:5px;
    border:1px solid black;
}

fieldset {
	border:1px solid #444;
}

a {
	color:#00A;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.replies {
	color:#AAA;
	float:right;
	font-size:14px;
}

form label {
	display:inline-block;
	width:80px;
	vertical-align: top;
	box-sizing: border-box;
}

form input {
	width: 300px;
	box-sizing: border-box;
}

form input[type=submit] {
	margin-left:85px;
}

form textarea {
	margin-top:1px;
	margin-bottom:-5px;
	box-sizing: border-box;
	width:300px;
	height:80px;
}

.preview {
	border:1px solid #AAA;
	overflow:hidden;
}

.footer {
	margin:10px;
	text-align:center;
	font-size:12px;
}

#styleswitch {
	background:inherit;
	position:absolute;
	right:5%;
}

hr {
	margin:5px 0 2px 0;
}

.cataloguethread {
    vertical-align:top;
    display:inline-block;
    word-wrap:break-word;
    overflow:hidden;
    margin:7px;
    padding:10px;
	background:#FFF;
	width:200px;
	border-bottom:1px solid #DDD;
	max-height:200px;
	text-align:center;
}

.cataloguethread:hover {
	cursor:pointer;
}

.cataloguethread .message {
	display:block;
	margin:0;
	max-height:80px;
	white-space: nowrap;
	overflow:hidden;
}

.cataloguethread .message a {
	pointer-events:none;
    cursor:default;
}

.cataloguethread .replies {
	float:none;
}

.box {
	vertical-align:top;
    display:inline-block;
    margin-right:7px;
	margin-bottom:7px;
    padding:10px;
	background:#FFF;
	max-width:412px;
	border-bottom:1px solid #DDD;
}

.box h3 {
	margin:0;
	margin-bottom:15px;
}

.box ul {
	list-style:none;
	padding:0;
	margin-bottom:0;
}

.box li {
	text-overflow:ellipsis;
	overflow:hidden;
    white-space:nowrap;
}

.box .board {
	font-weight:bold;
}

.head {
	margin-top:5px;
}

.subject {
	font-weight:bold;
}

.name {
	font-style:italic;
}

.greentext {
	color:green;
}

.replylink {
	font-size:11px;
	text-decoration:underline;
	margin-left:5px;
}