body {
	font-family:sans-serif;
	background:#f1f1f1;
	color:#000;
	width:90%;
	margin:auto;
	font-size:14px;
}

.threadmain, .threadreply {
	background:#FFF;
	padding:10px;
	border-bottom:1px solid #DDD;
	overflow:hidden;
	margin-bottom:12px;
}

.reply {
	background:#EEE;
	padding:10px;
	border-bottom:1px solid #DDD;
	overflow:hidden;
	margin-top:5px;
	display:table;
}

.selected {
	background:#D4D4D4;
	padding:10px;
	border-bottom:1px solid #BBB;
	overflow:hidden;
	margin-top:5px;
	display:table;
}

.image {
	float:left;
	margin-right:8px;
}

.message {
	word-break:break-all;
	display:inline-block;
	margin-left:12px;
	margin-right:12px;
	margin-top:5px;
}

.notif {
	margin-top:5px;
	background: #BFDFFF;
	padding:4px;
	border:1px solid #DDD;
}

table {
    border-collapse:collapse;
}

table td, table th {
	padding:5px;
    border:1px solid black;
}

fieldset {
	background:#FFF;
	margin-bottom:12px;
	border:0;
	border-bottom:1px solid #DDD;
}

fieldset legend {
	background:#FFF;
}

a {
	color:#00C;
	text-decoration:none;
}

a:hover {
	color:#C00;
}

.replies {
	color:#777;
	font-size:12px;
}

form {
	width:385px;
	padding:10px;
}

.postform {
	border-bottom:1px solid #DDD;
	background:#FFF;
}

form label {
	display:inline-block;
	width:80px;
	vertical-align:top;
	box-sizing:border-box;
	overflow:hidden;
	text-overflow:ellipsis;
}

form input {
	width:300px;
	box-sizing:border-box;
	margin-bottom:1px;
}

form input[type=submit] {
	margin-left:84px;
}

form textarea {
	box-sizing:border-box;
	margin-bottom:1px;
	width:300px;
	height:80px;
}

form select {
	width:300px;
}

.preview {
	position:absolute;
	display:inline-block;
	margin-top:-8px;
	color:#000;
	font-size:14px;
}

.preview  .thread {
	overflow:hidden;
	border:1px solid #DDD;
	padding:5px;
	background:#FFF;
}

.footer {
	margin:10px;
	text-align:center;
	font-size:12px;
}

#styleswitch {
	background:#FFF;
	position:absolute;
	right:5%;
}

hr {
	border:0;
}

.cataloguethread {
    vertical-align:top;
    display:inline-block;
    word-wrap:break-word;
    overflow:hidden;
    margin:7px;
    padding:10px;
	background:#FFF;
	width:200px;
	border-bottom:1px solid #DDD;
	max-height:200px;
	text-align:center;
}

.cataloguethread:hover {
	cursor:pointer;
}

.cataloguethread .message {
	display:block;
	margin:0;
	max-height:80px;
	white-space:nowrap;
	overflow:hidden;
}

.cataloguethread .message a {
	pointer-events:none;
    cursor:default;
}

.cataloguethread .replies {
	float:none;
}

.box {
	vertical-align:top;
    display:inline-block;
    margin-right:7px;
	margin-bottom:7px;
    padding:10px;
	background:#FFF;
	max-width:412px;
	border-bottom:1px solid #DDD;
}

.box h3 {
	margin:0;
	margin-bottom:15px;
}

.box ul {
	list-style:none;
	padding:0;
	margin-bottom:0;
}

.box li {
	text-overflow:ellipsis;
	overflow:hidden;
    white-space:nowrap;
}

.box .board {
	font-weight:bold;
}

.head {
	margin-top:5px;
}

.changed {
	background:#AFA;
	border:1px solid #5A5;
	width:250px;
	padding:2px;
}

form input[type=button].reset {
	width:50px;
	margin-left:-5px;
}

.subject {
	font-weight:bold;
	color:#cc1105;
	font-style:italic;
}

.name {
	font-weight:bold;
	color:green;
}

.greentext {
	color:#9ABB44;
}

.replylink {
	font-size:11px;
	text-decoration:underline;
	margin-left:5px;
	display:inline-block;
}