body {
	font-family:sans-serif;
	background:#FFFFEE url(../img/fade.png) top center repeat-x;
	color:#800000;
	width:90%;
	margin:auto;
	font-size:14px;
}

h1 {
	font-family: Tahoma,sans-serif;
	letter-spacing: -2px;
}

fieldset {
	margin-bottom:12px;
}

.threadmain, .threadreply {
	padding:10px;
	border-bottom:1px solid #BBB;
	overflow:hidden;
	background:#FFFFEE;
}

.reply {
	background:#f0e0d6;
	padding:10px;
	border:1px solid #D9BFB7;
    border-left:none;
    border-top:none;
	overflow:hidden;
	margin-top:5px;
	display:table;
}

.selected {
	background:#F0C0B0;
	padding:10px;
	border:1px solid #B7C5D9;
    border-left:none;
    border-top:none;
	overflow:hidden;
	margin-top:5px;
	display:table;
}

.image {
	float:left;
	margin-right:8px;
}

.message {
	margin-left:15px;
	display:inline-block;
	word-break:break-all;
}

.notif {
	margin-top:5px;
	border-radius:4px;
	background:#EA8;
    color:#800;
    border:1px solid #800;
	padding:4px;
}

table {
    border-collapse:collapse;
}

table td, table th {
	padding:5px;
    border:1px solid black;
}

fieldset {
	border:1px solid #444;
}

a {
	color:#00A;
	text-decoration:none;
}

a:hover {
	color:#F00;
}

.replies {
	color:#707070;
	font-size:14px;
}

form {
	text-align:center;
}

form label {
	display:inline-block;
	width:85px;
	vertical-align:top;
	box-sizing:border-box;
	background:#EA8;
	color:#800;
	border:1px solid #800;
	text-align:left;
	padding-left:2px;
	overflow:hidden;
	text-overflow:ellipsis;
}

form label[for=message] {
	height:80px;
	margin-bottom:3px;
}

form input {
	width:300px;
	box-sizing:border-box;
}

form input[type=submit] {
	margin-top:3px;
	margin-left:89px;
}

form textarea {
	margin-top:1px;
	margin-bottom:-5px;
	box-sizing:border-box;
	width:300px;
	height:80px;
	resize:vertical;
}

.preview {
	position:absolute;
	display:inline-block;
	margin-top:10px;
	color:#800000;
	font-size:14px;
}

.preview  .thread {
	overflow:hidden;
	border:1px solid #D9BFB7;
	padding:5px;
	background:#FFFFEE;
}

.footer {
	margin:10px;
	text-align:center;
	font-size:12px;
}

#styleswitch {
	background:inherit;
	position:absolute;
	right:5%;
}

hr {
	margin-bottom:0;
}

h1 {
	text-align:center;
}

.cataloguethread {
    vertical-align:top;
    display:inline-block;
    word-wrap:break-word;
    overflow:hidden;
    margin:7px;
    padding:10px;
	background:#f0e0d6;
	width:200px;
	border-bottom:1px solid #D9BFB7;
	max-height:200px;
	text-align:center;
}

.cataloguethread:hover {
	cursor:pointer;
}

.cataloguethread .message {
	display:block;
	margin:0;
	max-height:80px;
	white-space: nowrap;
	overflow:hidden;
}

.cataloguethread .message a {
	pointer-events:none;
    cursor:default;
}

.cataloguethread .replies {
	float:none;
}

.box {
	vertical-align:top;
    display:inline-block;
    margin-right:7px;
	margin-bottom:7px;
    padding:10px;
	background:#f0e0d6;
	max-width:412px;
    border:1px solid #D9BFB7;
    border-left:none;
    border-top:none;
}

.box h3 {
	margin:0;
	margin-bottom:15px;
}

.box ul {
	list-style:none;
	padding:0;
	margin-bottom:0;
}

.box li {
	text-overflow:ellipsis;
	overflow:hidden;
    white-space:nowrap;
}

.box .board {
	font-weight:bold;
}

.head {
	margin-top:5px;
}

.changed {
	background:#AFA;
	border:1px solid #5A5;
	width:250px;
	padding:2px;
}

form input[type=button].reset {
	width:50px;
	margin-left:-5px;
}

.subject {
	font-weight:bold;
	color:#cc1105;
}

.name {
	font-weight:bold;
	color:green;
}

.greentext {
	color:green;
}

.replylink {
	font-size:11px;
	text-decoration:underline;
	margin-left:5px;
	display:inline-block;
}