{% extends "basepage.html" %}

{% block head %}
	<title>/{{ board.urlid }}/ - {{ board.title }} - {{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<div class="head">
		[<a href="{{ config.siteurl }}">Home</a>]
		[<a href="{{ config.siteurl }}/{{ board.urlid }}/catalogue.html">Catalog</a>]
		[<a href="{{ config.siteurl }}/manage.php?viewboard&board={{ board.urlid }}">Manage</a>]
		
		{% for otherboard in boards %}
			[<a href="{{ config.siteurl }}/{{ otherboard.urlid }}" title="{{ otherboard.title }}">{{ otherboard.urlid }}</a>]
		{% endfor %}
	</div>
	{% if managing == true %}
		<div class="notif"><a href="manage.php">Return to manage panel</a></div>
	{% endif %}
	<h1>/{{ board.urlid }}/ - {{ board.title }}</h1>
	<form action="{{ config.siteurl }}/inc/post.php?board={{ board.urlid }}&parent=0" method="post" enctype="multipart/form-data" class="postform">
		<label for="name">Name</label>
		<input type="text" name="namefield" id="name"><br>
		<label for="subject">Subject</label>
		<input type="text" name="subjectfield" id="subject"><br>
		<label for="message">Message</label>
		<textarea name="textfield" id="message"></textarea><br>
		{% if config.textonly != 1 %}
			<label for="image">Image</label>
			<input name="imagefield" type="file" id="image"><br>
		{% else %}
			<input name="imagefield" type="hidden" id="image">
		{% endif %}
		<input type="submit" value="Post">
	</form>
	<hr>
	
	{% for thread in threads %}
		<div class="threadmain">
			<div class="op" id="{{ thread.id }}">
			
				<div class="postinfo">
					{% if thread.subject != "" %}
						<span class="subject">{{ thread.subject|raw }}</span>
					{% endif %}
					
					<span class="name">{{ thread.name|raw }}</span>
					
					{{ thread.date|date("d/m/y H:i:s") }}
					
					<span class="postnum"><a href="{{ config.siteurl }}/{{ board.urlid }}/res/{{ thread.id }}.html" id="postno">No.</a><a href="#" class="postid">{{ thread.id }}</a></span>
					
					{% if managing == true %}
						<span class="treply">[<a href="?viewboard&board={{ board.urlid }}&thread={{ thread.id }}">Reply</a>]</span>
					{% else %}
						<span class="treply">[<a href="res/{{ thread.id }}.html">Reply</a>]</span>
					{% endif %}
					
					{% if managing == true %}
						IP: {{ thread.ip }}
						[<a href="{{ config.siteurl }}/manage.php?deletepost&board={{ board.urlid }}&id={{ thread.id }}">Delete</a>]
						[<a href="{{ config.siteurl }}/manage.php?banposter&ip={{ thread.ip }}">Ban</a>]
						[<a href="{{ config.siteurl }}/manage.php?postsbyip&ip={{ thread.ip }}">User Posts</a>]
					{% endif %}
				</div>
				
				<div class="replies">{{ thread.numReplies }} Replies - {{ thread.numImageReplies }} Images</div>
				
				{% if thread.filename is not null %}
					<a href="{{ config.siteurl }}/{{ board.urlid }}/src/{{ thread.filename }}" class="imagelink"><img src="{{ config.siteurl }}/{{ board.urlid }}/thumb/{{ thread.filename }}" class="image"></a>
				{% endif %}
				<div class="message">{{ thread.message|raw|nl2br }}</div>
			</div>
			
			{% for reply in thread.replies %}
				<div class="reply" id="{{ reply.id }}">
				
					<div class="postinfo">
						<span class="name">{{ reply.name }}</span>
						{{ reply.date|date("d/m/y H:i:s") }}
						<span class="postnum"><a href="{{ config.siteurl }}/{{ board.urlid }}/res/{{ thread.id }}.html#{{ reply.id }}" id="postno">No</a>.<a href="#" class="postid">{{ reply.id }}</a></span>
						{% if managing == true %}
							<br>
							[<a href="{{ config.siteurl }}/manage.php?deletepost&board={{ board.urlid }}&id={{ reply.id }}">Delete</a>]
							[<a href="{{ config.siteurl }}/manage.php?banposter&ip={{ reply.ip }}">Ban</a>]
							[<a href="{{ config.siteurl }}/manage.php?postsbyip&ip={{ reply.ip }}">User Posts</a>]
						{% endif %}
					</div>
					
					{% if reply.filename is not null %}
						<a href="{{ config.siteurl }}/{{ board.urlid }}/src/{{ reply.filename }}" class="imagelink"><img src="{{ config.siteurl }}/{{ board.urlid }}/thumb/{{ reply.filename }}" class="image"></a>
					{% endif %}
					<div class="message">{{ reply.message|raw|nl2br }}</div>
				</div>
			{% endfor %}
			
		</div>
	{% endfor %}
{% endblock %}