<!DOCTYPE html>
<html>
    <head>
        <title>{{ board.title }} - {{ config.sitename }}</title>
		<link rel="stylesheet" href="{{ config.siteurl }}/{{ config.defaultcss }}">
		<meta charset="utf-8">
    </head>
    <body>
		{% if managing == true %}
			<div class="notif"><a href="manage.php">Return to manage panel</a></div>
		{% endif %}
        <h1>{{ board.urlid }} - {{ board.title }}</h1>
		<form action="{{ config.siteurl }}/inc/post.php?board={{ board.urlid }}&parent=0" method="post" enctype="multipart/form-data">
			Name: <input type="text" name="namefield"><br>
			Subject: <input type="text" name="subjectfield"><br>
			Message: <textarea name="textfield"></textarea><br>
			Image: <input name="imagefield" type="file"><br>
			<input type="submit" value="Post">
		</form>
		<hr>
		{% for thread in threads %}
			<div class="thread">
				<b>{{ thread.subject }}</b> <i>{{ thread.name }}</i>
				<small>{{ thread.date|date("d/m/y H:i:s") }}</small> No.{{ thread.id }}  - 
				{% if managing == true %}
					[<a href="?viewboard&board={{ board.urlid }}&thread={{ thread.id }}">Reply</a>]
				{% else %}
					[<a href="res/{{ thread.id }}.html">Reply</a>]
				{% endif %}
				{% if managing == true %}
					<br>[<a href="{{ config.siteurl }}/manage.php?deletepost&board={{ board.urlid }}&id={{ thread.id }}">Delete</a>] [<a href="{{ config.siteurl }}/manage.php?banposter&ip={{ thread.ip }}">Ban</a>]
				{% endif %}
				<br>
				{% if thread.filename is not null %}
					<a href="{{ config.siteurl }}/{{ board.urlid }}/src/{{ thread.filename }}"><img src="{{ config.siteurl }}/{{ board.urlid }}/thumb/{{ thread.filename }}" id="image"></a>
				{% endif %}
				<div id="message">{{ thread.message|raw|nl2br }}</div>
			</div>
		{% endfor %}
	</body>
</html>