{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }}</h1>
	<div class="box">
		<h3>Boards</h3>
		<ul>
			{% for board in boards %}
			<li>
				/<a href="{{ config.siteurl }}/{{ board.urlid }}">{{ board.urlid }}</a>/
				-
				<a href="{{ config.siteurl }}/{{ board.urlid }}">{{ board.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div><br>
	<a href="{{ config.siteurl }}/inc/recentposts.php">Recent Posts/Stats</a>
{% endblock %}