<!DOCTYPE html>
<html>
    <head>
        <title>{{ board.title }} - {{ config.sitename }}</title>
		<link rel="stylesheet" href="{{ config.siteurl }}/{{ config.defaultcss }}">
		<meta charset="utf-8">
    </head>
    <body>
		<div class="notif"><a href="manage.php">Return to manage panel</a></div>
        <h1>{{ board.urlid }} - {{ board.title }}</h1>
		<form action="{{ config.siteurl }}/inc/post.php?board={{ board.urlid }}&parent=0" method="post">
			Name: <input type="text" name="namefield"><br>
			Subject: <input type="text" name="subjectfield"><br>
			Message: <textarea name="textfield"></textarea><br>
			<input type="submit" value="Post">
		</form>
		<hr>
		{% for thread in threads %}
			<div class="thread">
				<b>{{ thread.subject }}</b> <i>{{ thread.name }}</i>
				<small>{{ thread.date|date("d/m/y m:i:s") }}</small> No.{{ thread.id }} - [<a href="?viewboard&board={{ board.urlid }}&thread={{ thread.id }}">Reply</a>]<br>
				Manage: [<a href="{{ config.siteurl }}/manage.php?deletepost&board={{ board.urlid }}&id={{ thread.id }}">Delete Post</a>]
				<div id="message">{{ thread.message|raw|nl2br }}</div>
			</div>
		{% endfor %}
	</body>
</html>