{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }} - <a href="manage.php">Manage</a></h1>
	<fieldset>
		<legend>Create User Account</legend>
			<form action="?createaccount" method="post">
				<label for="createusername">Username</label>
				<input type="text" name="createusername" id="createusername"><br>
				<label for="createpassword">Password</label>
				<input type="password" name="createpassword" id="createpassword"><br>
				<label for="createtype">Type</label>
				<select name="createtype" id="createtype">
					{% for key, type in config.accounttypes %}
						<option value="{{ key }}">{{ type }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Create Account">
			</form>
	</fieldset>
{% endblock %}