{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }} - <a href="manage.php">Manage</a></h1>
	<fieldset>
		<legend>Edit Account</legend>
			<form action="?editaccount&id={{ id }}" method="post">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" value="{{ user.username }}"><br>
				<label for="password">Password</label>
				<input type="password" name="password" id="password"><br>
				<label for="type">Type</label>
				<select name="type" id="type">
					{% for key, type in config.accounttypes %}
						{% if key == user.type %}
							<option value="{{ key }}" selected>{{ type }}</option>
						{% else %}
							<option value="{{ key }}">{{ type }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<input type="submit" value="Modify">
			</form>
	</fieldset>
{% endblock %}