{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }} - <a href="manage.php">Manage</a></h1>
	<fieldset>
		<legend>Log In</legend>
		<form action="" method="post">
			<label for="loginusername">Username</label>
			<input type="text" name="loginusername" id="loginusername"><br>
			<label for="loginpassword">Password</label>
			<input type="password" name="loginpassword" id="loginpassword"><br>
			<input type="submit" value="Login">
		</form>
	</fieldset>
{% endblock %}