<!DOCTYPE html>
<html>
    <head>
        <title>{{ config.sitename }}</title>
		<link rel="stylesheet" href="{{ config.siteurl }}/{{ config.defaultcss }}">
    </head>
    <body>
        <h1>{{ config.sitename }} - Manage</h1>
		<fieldset>
			<legend>Manage Boards</legend>
				<ul>
					{% for board in boards %}
					<li><a href="?viewboard&board={{ board.urlid }}">{{ board.urlid }}</a> - {{ board.title }}</li>
					{% endfor %}
				</ul>
				<a href="?createboard">Create new board</a>
		</fieldset>
		
		<fieldset>
			<legend>Maintenance</legend>
				<ul>
					<li><a href="?configure">Configure site settings</a></li>
					<li><a href="?refreshstatic">Remake static pages</a></li>
				</ul>
		</fieldset>
		
		<fieldset>
			<legend>Users</legend>
			<ul>
				<li><a href="?logout">Log out</a></li>
				<li><a href="?createaccount">Create user account</a></li>
			</ul>
		</fieldset>
	</body>
</html>