{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
	<script src="{{ config.siteurl }}/inc/js/manage.js"></script>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }} - <a href="manage.php">Manage</a></h1>
	<fieldset>
		<legend>Manage Bans</legend>
			{% if ip is null %}
				All active bans
			{% else %}
				All bans for ip {{ ip }}<br>
				<a href="?managebans">View all active bans</a>
			{% endif %}
			<table>
				<tr>
					<th>ID</th>
					<th>IP</th>
					<th>Reason</th>
					<th>Date</th>
					<th>Expires</th>
					<th></th>
				</tr>
				{% for ban in bans %}
					<tr>
						<td>{{ ban.id }}</td>
						<td><a href="?managebans&ip={{ ban.ip }}">{{ ban.ip }}</a></td>
						<td>{{ ban.reason }}</td>
						<td>{{ ban.date }}</td>
						<td>{{ ban.expires }}</td>
						<td><a href="?unbanuser&ip={{ ban.ip }}">Unban</a></td>
					</tr>
				{% endfor %}
			</table>
	</fieldset>
{% endblock %}