{% extends "basepage.html" %}

{% block head %}
	<title>{{ config.sitename }}</title>
{% endblock %}

{% block content %}
	<h1>{{ config.sitename }} - <a href="manage.php">Manage</a></h1>
	<fieldset>
		<legend>Manage Accounts</legend>
		<table>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th></th>
				<th></th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td><a href="?editaccount&id={{ user.id }}">Edit</a></td>
					{% if user.username == username %}
						<td>Can't delete</td>
					{% else %}
						<td><a href="?deleteaccount&id={{ user.id }}">Delete</a></td>
					{% endif %}
				</tr>
			{% endfor %}
			</table>
			<a href="?createaccount">Create new</a>
	</fieldset>
{% endblock %}